<table>
	<thead>
	<th>ID</th>
	<th>Name</th>
	<th>Status</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.id}}</td>
				<td>{{dataMap.name}}</td>
				<td>{{dataMap.status}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

