<center>
    <h1>Top 10 Provisioning Mophos Past 90 Days</h1>
</center>
<table>
	<table style="
    width:80%;
    padding: 20px;
    max-width: 800px;
    border-radius:15px;
    margin: 50px auto;
    /*background: #248DC1;*/
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    color: white;
    animation: float 20s infinite;
    border-collapse: separate !important;
    ">
	<thead>
		<th style="width:20%"></th>	
		<th style="width:30%;font-size: 16px;"><b>Mopho</b></th>
		<th style="width:50%;font-size: 16px;"><b>Instances Provisioned</b></th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td><img style="border-radius:50%; margin: 10px auto;" src="{{dataMap.avatar}}"  border=3 border-radius=50 height=50 width=50></img></td>
				<td>{{dataMap.name}}</td>
				<td><div style="width:calc({{dataMap.count}}px * 3);height:auto;padding:auto;text-align: right;padding:10px;animation-duration: 2s;border-radius:2px; animation-name: grow; color:white;background-color:#248DC1;   animation-iteration-count:1;">{{dataMap.count}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>


