@import "compass";

@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

$bgColor: #202b33;
$textColor: #738491;
$titleColor: #d3d3d3;
$selectedColor: #2278ae;
$greyColor: #545f68;

$navWidth: 18%;

* {
  @include box-sizing(border-box);
}

html,
body {
  background-color: $bgColor;
  color: $textColor;

  font-family: "Open Sans";
  font-size: 16px;
  font-smoothing: antialiased;
  overflow: hidden;
}

header {
  color: $titleColor;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100% - $navWidth;
  left: 0;

  padding: 22px;
  border-right: 2px solid darken($bgColor, 5%);

  > header {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  section {
    font-weight: 600;

    header {
      padding-top: 30px;
    }

    ul {
      list-style: none;
      padding: 0px;

      li {
        position: relative;
        padding: 10px 0px;

        &.active {
          color: $selectedColor;
        }

        &:after {
          content: attr(data-value);
          position: absolute;
          right: 0px;
          width: 19px;
          background-color: $textColor;
          font-size: 0.9rem;
          color: $bgColor;
          @include border-radius(19px);
          text-align: center;
        }

        &.red:after {
          content: "";
          position: absolute;
          top: 14px;
          right: 0px;
          width: 10px;
          height: 10px;
          background-color: rgba(236, 72, 127, 1);
          @include border-radius(10px);
        }

        &.yellow:after {
          content: "";
          position: absolute;
          top: 14px;
          right: 0px;
          width: 10px;
          height: 10px;
          background-color: rgba(234, 142, 57, 1);
          @include border-radius(10px);
        }

        &.green:after {
          content: "";
          position: absolute;
          top: 14px;
          right: 0px;
          width: 10px;
          height: 10px;
          background-color: rgba(56, 175, 91, 1);
          @include border-radius(10px);
        }

        &.new {
          font-size: 0.9rem;
          color: $greyColor;
          //font-style: italic;
        }
      } // li
    } // ul
  } // section
} // nav

article {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $navWidth;
  overflow: auto;

  border-left: 2px solid lighten($bgColor, 5%);

  padding: 20px;

  > header {
    height: 60px;

    border-bottom: 1px solid lighten($bgColor, 5%);

    .title {
      float: left;
      font-size: 1.3rem;
      font-weight: 600;
    }

    .user {
      float: right;
      width: 48px;
      height: 48px;
      background-image: url("https://s3.amazonaws.com/uifaces/faces/twitter/peterlandt/48.jpg");
      @include border-radius(48px);

      margin-left: 20px;
    }

    .interval {
      float: right;

      ul {
        padding: 0;
        list-style: none;

        li {
          float: right;
          text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 600;
          padding: 2px 10px;
          margin: 0px 10px;

          &.active {
            background-color: $titleColor;
            color: $bgColor;
            @include border-radius(10px);
          }
        } // li
      } // ul
    } // interval
  } // header

  section {
    margin-top: 20px;
    margin-bottom: 20px;

    > header {
      margin-bottom: 20px;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .chart {
      height: 200px;

      #c1 {
      }
    } // .chart

    .inlineChart {
      float: left;
      width: 30%;
      margin-bottom: 50px;

      canvas {
        float: left;
      }

      .info {
        float: left;
        padding-left: 20px;
        padding-top: 16px;

        .value {
          font-size: 2rem;
          color: $titleColor;
        }

        .title {
        }
      } // .info
    } // .inlineChart

    table {
      width: 100%;

      th,
      td {
        padding: 15px 0px;
        border-bottom: 1px solid lighten($bgColor, 5%);
      }

      thead {
        th {
          text-align: left;
          font-size: 0.9rem;
          text-transform: uppercase;
          color: $titleColor;
        }
      } // thead

      tbody {
      }
    } // table
  } // section
} // article
