name: Plugin CI
on:
  push:
    branches-ignore:
      - 'master'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    # Setup JDK 8
    - name: Set up JDK 1.17
      uses: actions/setup-java@v1
      with:
        java-version: 1.17
    - name: test
      run: ./gradlew test --no-daemon
    - name: javadoc
      run: ./gradlew javadoc --no-daemon
    - name: assemble
      run: ./gradlew assemble --no-daemon
    - uses: actions/upload-artifact@v2
      with:
        name: plugin-artifacts
        path: plugins/


